In [6]:
import pandas as pd

In [9]:
mk2 = pd.read_excel("data.xlsx", sheet_name="MK2")

In [10]:
mk2

,Year,kW/Cabinet,Installed Cabinets,Average PUE,Total load (MW),Energy cost ($M),Revenue ($M)
0,2025,4.902500,600,1.496,4.400484,7.709648,17.649000
1,2026,5.362250,1200,1.492,10.423709,18.810208,42.756768
2,2027,5.945621,1800,1.488,18.112251,33.665184,75.983816
3,2028,6.558234,2400,1.484,27.523224,52.692049,118.091101
4,2029,6.738455,2400,1.480,28.416000,56.033267,124.696185
5,2030,6.896148,2400,1.476,28.339200,57.558281,127.190109
6,2031,7.034130,2400,1.472,28.262400,59.124365,129.733911
7,2032,7.154864,2400,1.468,28.185600,60.732612,132.328589
8,2033,7.260506,2400,1.464,28.108800,62.384142,134.975161
9,2034,7.352942,2400,1.460,28.032000,64.080104,137.674664
10,2035,7.433825,2400,1.460,28.032000,66.002507,140.428157
11,2036,7.504597,2400,1.460,28.032000,67.982582,143.236720
12,2037,7.566522,2400,1.460,28.032000,70.022060,146.101455
13,2038,7.620707,2400,1.460,28.032000,72.122722,149.023484
14,2039,7.668118,2400,1.460,28.032000,74.286403,152.003954
15,2040,7.709604,2400,1.460,28.032000,76.514995,155.044033
16,2041,7.745903,2400,1.460,28.032000,78.810445,158.144913
17,2042,7.777665,2400,1.460,28.032000,81.174759,161.307811
18,2043,7.805457,2400,1.460,28.032000,83.610001,164.533968
19,2044,7.829775,2400,1.460,28.032000,86.118302,167.824647
20,2045,7.851053,2400,1.460,28.032000,88.701851,171.181140
21,2046,7.869671,2400,1.460,28.032000,91.362906,174.604763
22,2047,7.885963,2400,1.460,28.032000,94.103793,178.096858
23,2048,7.900217,2400,1.460,28.032000,96.926907,181.658795
24,2049,7.912690,2400,1.460,28.032000,99.834714,185.291971
25,2050,7.923604,2400,1.460,28.032000,102.829756,188.997811
26,2051,7.933153,2400,1.460,28.032000,105.914648,192.777767
27,2052,7.941509,2400,1.460,28.032000,109.092088,196.633322
28,2053,7.948821,2400,1.460,28.032000,112.364850,200.565989
29,2054,7.955218,2400,1.460,28.032000,115.735796,204.577308

In [3]:
mk2 = read_data("data.xlsx", "MK2")
mk2m = read_data("data.xlsx", "MK2 Modified")

In [4]:
kw_cab_df = mk2[['kW/Cabinet']].join(mk2m[['kW/Cabinet']], lsuffix="_mk2", rsuffix="_mk2m")

In [5]:
kw_cab_df

Year of Life   kW/Cabinet_mk2  kW/Cabinet_mk2m
Calendar Year
2025                 4.902500         6.885000
2026                 5.362250         7.767500
2027                 5.945621         8.945625
2028                 6.558234        10.243066
2029                 6.738455        10.840808
2030                 6.896148        11.674457
2031                 7.034130        12.737025
2032                 7.154864        14.022397
2033                 7.260506        15.474597
2034                 7.352942        17.102773
2035                 7.433825        18.714926
2036                 7.504597        20.313060
2037                 7.566522        21.898928
2038                 7.620707        23.474062
2039                 7.668118        25.039804
2040                 7.709604        26.597329
2041                 7.745903        28.147662
2042                 7.777665        29.629205
2043                 7.805457        30.925554
2044                 7.829775        32.059860
2045                 7.851053        33.052377
2046                 7.869671        33.920830
2047                 7.885963        34.680726
2048                 7.900217        35.345636
2049                 7.912690        35.927431
2050                 7.923604        36.436502
2051                 7.933153        36.881939
2052                 7.941509        37.271697
2053                 7.948821        37.612735
2054                 7.955218        37.911143